weihuapin_data/src/main/java/com/c503/hthj/data/services/first/Ghsjzx.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.zjygj.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="GhsjzxService" targetNamespace="http://service.zjygj.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.zjygj.com/" elementFormDefault="unqualified" targetNamespace="http://service.zjygj.com/" version="1.0">

  <xs:element name="GhsjzxService" type="tns:GhsjzxService"/>

  <xs:element name="GhsjzxServiceResponse" type="tns:GhsjzxServiceResponse"/>

  <xs:complexType name="GhsjzxService">
    <xs:sequence>
      <xs:element minOccurs="0" name="admin" type="xs:string"/>
      <xs:element minOccurs="0" name="admin123456" type="xs:string"/>
      <xs:element name="1" type="xs:int"/>
      <xs:element name="500" type="xs:int"/>
      <xs:element minOccurs="0" name="V_WH_WHZYSBD" type="xs:string"/>
      <xs:element minOccurs="0" name="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GhsjzxServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GhsjzxService">
    <wsdl:part element="tns:GhsjzxService" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GhsjzxServiceResponse">
    <wsdl:part element="tns:GhsjzxServiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Ghsjzx">
    <wsdl:operation name="GhsjzxService">
      <wsdl:input message="tns:GhsjzxService" name="GhsjzxService">
    </wsdl:input>
      <wsdl:output message="tns:GhsjzxServiceResponse" name="GhsjzxServiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GhsjzxServiceSoapBinding" type="tns:Ghsjzx">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GhsjzxService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GhsjzxService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GhsjzxServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GhsjzxService">
    <wsdl:port binding="tns:GhsjzxServiceSoapBinding" name="GhsjzxPort">
      <soap:address location="http://202.107.242.115:10090/services/Ghsjzx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>