weihuapin_data/src/main/java/com/c503/hthj/data/services/second/sjfw.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.zjygj.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CbjbxxService" targetNamespace="http://service.zjygj.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.zjygj.com/" elementFormDefault="unqualified" targetNamespace="http://service.zjygj.com/" version="1.0">

  <xs:element name="CbjbxxService" type="tns:CbjbxxService"/>

  <xs:element name="CbjbxxServiceResponse" type="tns:CbjbxxServiceResponse"/>

  <xs:complexType name="CbjbxxService">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="page" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
      <xs:element minOccurs="0" name="zwcm" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CbjbxxServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="CbjbxxService">
    <wsdl:part element="tns:CbjbxxService" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CbjbxxServiceResponse">
    <wsdl:part element="tns:CbjbxxServiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cbjbxx">
    <wsdl:operation name="CbjbxxService">
      <wsdl:input message="tns:CbjbxxService" name="CbjbxxService">
    </wsdl:input>
      <wsdl:output message="tns:CbjbxxServiceResponse" name="CbjbxxServiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CbjbxxServiceSoapBinding" type="tns:Cbjbxx">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CbjbxxService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CbjbxxService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CbjbxxServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CbjbxxService">
    <wsdl:port binding="tns:CbjbxxServiceSoapBinding" name="CbjbxxPort">
      <soap:address location="http://202.107.242.115:10090/services/sjfw"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>